{% extends 'layout.html' %}
{% block content %}
    <div class="main">
        <div class="card imagefile" style="width: 18rem;">
            {% if imagefile %}  <!-- imagefile変数が存在する場合のみimgタグを表示 -->
                <img class="bd-placeholder-img card-img-top upload_image" src="{{ imagefile }}" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"/>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
                </svg>
            {% endif %}
        </div>
        <div class="card answer_image" style="width: 18rem;">
            {% if answer_image %}
                <img class="bd-placeholder-img card-img-top answer_image" src="{{ answer_image }}" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
            {% else %}
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"/>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
                </svg>
            {% endif %}
        </div>
        <div class="answer">{{answer}}</div>
        {% for ingredient in ingredients %}
            <p>{{ ingredient }}</p>
        {% endfor %}

        <a href="/">戻る</a>
    </div>
{% endblock %}